@import url(https://fonts.googleapis.com/css?family=);

* {
margin:0;
padding:0;
box-sizing: border-box;
font-family: "Gill Sans", sans-serif;
}

body{
   
   background-image: url(https://img.freepik.com/premium-photo/there-is-dark-picture-mountain-lake-with-boat-it-generative-ai_900814-4276.jpg);   
   background-size: contain;
   color:white;
   background-color: #BC8F8F;
   /*background-repeat: no-repeat;*/
}

.header{
    position:relative ;
    top:0;
    left:0;
    width:100%;
    padding:20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 100;
    
}

.name{
    font-size: 25px;
    position: relative;
    text-decoration:none;
    font-weight: 600;
    color: white;
}

.name::before{
    content: '';
    position: absolute;
    top: 0;
    right:0;
    width:100%;
    height:100%;
    background-color: transparent;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}


.homePage{
    display: block;
    border:#BC8F8F 1px;
    background-color: #BC8F8F;
    border: 5px solid;
    margin: auto;
    width: 50%;
    padding: 20px;
}

.intro-content{
    max-width:600px;

}

.intro-content h1{
    position: relative;
    font-size: 50px;
    font-weight: 400 ;
}

.intro-content h1::before {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background:#BC8F8F;
   animation: showRight 1s ease forwards;
   animation-delay: 1s;
}

.intro-content h3{
    font-size: 30px;
    font-weight: 300 ;
    padding-top: 2px;
}

.intro-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#BC8F8F;
    animation: showRight 0.4s ease forwards;
    animation-delay: 1s;
 }
 

.intro-content p{
    font-size: 18px;
    
}

.intro-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#BC8F8F;
    animation: showRight 0.4s ease forwards;
    animation-delay: 1s;
 }
 

.btn-box {
    text-decoration: none;
    font-size: 20px;
    font-weight: 100;
    color:whitesmoke;
    background-color: black;
    letter-spacing: 1px;
    
}

.btn-box :hover{
    border: 2px  solid transparent;
    border-radius: 8px;
    background-size: 30px;
    background-color: #BC8F8F;
    font-size: large;
}  

@keyframes showRight {
    100%{
        width: 0;
    }
}

/* .education{
    padding-top : 20px;
    color: white;
    width: auto;
    height: 50vh;
    text-align: center;
    justify-content: space-between;
    display: block;
} */

.edu-content{
    background-color:#BC8F8F;
    margin: auto;
    width:50%;
    border:2px  white dotted;
    padding-top: 10px;
    height: auto;
}

.edu-content h1{
    font-size: 30px;
    
}

.edu-content h3{
    font-size: 25px;
    padding-top: 10px;
    
}

.edu-content h4{
    font-size: 20px;
    padding-top: 10px;
}

.edu-content p{
    font-size: 15px;
    padding-top: 20px;
}

.skills{
    margin: auto;
    width:50%;
    border:2px  white solid;
    height:auto;
    padding: 20px;
    justify-content: space-evenly;
}

.skills skil-head{
    font-size: 50px;
}

hr{
    border:1px black dashed;
    width:25%;
    margin: auto;
}

.skills a{
    display: block;
    padding: 10px;
    justify-content: space-evenly;
}

.experience{
    height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-image: url(https://img.freepik.com/premium-photo/there-is-dark-picture-mountain-lake-with-boat-it-generative-ai_900814-4276.jpg);   
  background-size: contain;
  overflow-x: hidden;
  transition: 0.5s;
  text-align:center;
  padding-top:60px;
  bottom: 0;;
}

.experience-content{
    margin: auto;
    width:50%;
    border:2px  white dotted;
    height:auto;
    padding: 20px;
    justify-content: space-evenly;
    background-color: #BC8F8F;
}
.experience h1{
    padding-top: 20px;
}

.experience h2{
    padding-top: 30px;
    padding-left: 0;
}

.experience h3{
    padding-top: 10px;
}

.experience p{
    padding-top: 20px;
}





.contact{
   padding-top: 30px;
    height: 50%;
    text-align: center;
    
}

.contact h1{
    font-size: 30px;
    padding: 10px;
}

.contact h2 {
   padding:10px;
}

.contact h3 {
    padding:10px;
 }

 .projects{
    display: block;
    margin:auto;
    width:50%;
    height:auto;
    border:5px white solid;
    text-align: center;
    justify-content: space-between;
    background-color: #BC8F8F;
 }

 .projects h1{
    padding:10px;
}

.projects h2{
    padding:10px;
}

.nextbox{
    background-color:black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 12px;
    width: 100%;
    margin: 0;
  }
}
